@tailwind base;
@tailwind components;
@tailwind utilities;

/* css for header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px 20px; /* Adjust padding top and bottom */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  width: 80px;
  height: auto;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 6px; /* Adjust padding top and bottom */
  border-radius: 4px;
  /* border: none; */
  margin-right: 10px;
}

.search-bar button {
  padding: 6px 10px; /* Adjust padding top and bottom */
  border-radius: 4px;
  border: none;
  background-color: #ffd54f;
  color: #212121;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #ffc107;
}

.nav-items ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-items ul li {
  margin-right: 1.3rem; /* Adjust margin */
  font-size: 1.2rem; /* Adjust font size */
  color: #212121;
  cursor: pointer;
  transition: color 0.3s ease;
  a {
    transition: color 0.3s ease;
  }
}

.nav-items ul li a {
  text-decoration: none; /* Remove underline */
  color: black; /* Set color to black */
}

.nav-items ul li:hover {
  color: #ffc107;
}
.nav-items ul li a:hover {
  color: #ffc107;
}

@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-bar {
    margin-top: 8px; /* Adjust margin */
    margin-bottom: 8px; /* Adjust margin */
  }

  .search-bar input[type="text"] {
    width: 100%;
  }

  .nav-items ul {
    margin-top: 8px; /* Adjust margin */
  }

  .nav-items ul li {
    margin-right: 0;
    margin-bottom: 8px; /* Adjust margin */
  }
}
 
/* .header{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}
.logo-container > img {
    width: 150px;
}
.nav-items > ul {
    display: flex;
}
.nav-items > ul > li {
    padding: 1.5rem;
    margin: 1rem;
    list-style: none;
} */
.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.res-card {
    width: 300px; /* Adjust the width as needed */
    margin: 13px;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add transform transition */
}

.res-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); /* Increase size on hover */
}

.res-logo {
    width: 100%; /* Ensures the image takes full width of its container */
    height: 200px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the image fills the container without stretching */
    border-radius: 8px;
}

.res-menu {
  text-align: center;
}

h3, h4 {
    margin: 10px 0;
}

/* Optional: Adjust text styling */
h3 {
    font-size: 1rem;
    color: #333;
}

h4 {
    font-size: 0.8rem;
    color: #666;
}